@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

/* Geneal styles */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
}

body {
    background-image: url(./ToDoBG1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container */
#container {
    display: block;
    margin: 50px 50px;
    padding: 25px;
    width: 100%;
    max-width: 600px;
    background-color: rgba(71, 70, 103, 0.4);
    border-radius: 20px;
    min-height: 85vh;
}

#to-do {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 500px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 15%;

    padding: 15px;
    width: 100%;
}

header .date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 80%;

    width: 100%;
}

header .date #day-num {
    font-size: 70px;
    font-weight: 600;
}

header .date #wrap-date {
    display: flex;
    flex-direction: column;
}

header .date #wrap-date span {
    font-size: 25px;
    font-weight: bold;
    color: #303030;
}

header .date #day-num {
    color: rgb(0, 20, 101);
}

header .date #wrap-date .month {
    color: rgb(4, 9, 29);
}

header .date #wrap-date .year {
    color: rgb(4, 9, 29);

}

/* Toggle Theme */
header #toggle-wrap {
    flex-basis: 20%;

    width: 100%;
    cursor: pointer;
    margin-left: 30px;
}

header #toggle-wrap .toggle {
    position: relative;
    background-color: #212121;
    width: 75px;
    height: 35px;
    border-radius: 25px;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0px 8px 50px rgba(88, 88, 88, 0.1) inset, 
                0px 8px 8px rgba(73, 73, 73, 0.1) inset,
                0px -4px 4px rgb(66, 66, 66) inset;
}

header #toggle-wrap .toggle span {
    position: absolute;
    top: 3px;
    background-color: #a9a9a9;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0px 8px 40px rgba(96, 96, 96, 0.5) inset, 
                0px 4px 4px rgba(255, 255, 255, 0.2) inset,
                0px -4px 4px rgba(255, 255, 255, 0.2) inset;
    transition: 500ms;
}

/* Content */
#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 85%;

    width: 100%;
    min-height: 370px;
    padding: 20px;
    margin-bottom: 20px;
}

#content .title h1{
    font-size: 45px;
    font-weight: 900;
    background: rgb(86,98,180);
    background: linear-gradient(90deg, rgba(0,5,91,0.765625) 100%, rgba(86,98,180,1) 66%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#content .add-task {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120%;
    padding: 20px;
}

#content .add-task input[type="text"] {
    width: 80%;
    max-width: 280px;
    height: 35px;
    padding-left: 10px;
    border-radius: 25px;
    border-color: rgb(39, 96, 219);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-family: 'Nanum Gothic Coding', monospace;
    color: rgb(200, 229, 255);
}

#content .add-task input[type="text"]::placeholder {
    color: rgb(200, 229, 255);
}

#content .add-task button {
    padding: 6px;
    font-size: 20px;
    font-weight: 900;
    color: white;
    background: linear-gradient(90deg, rgba(0,5,91,0.765625) 40%, rgb(42, 71, 232) 106%);
    border: none;
    margin-left: 25px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 500ms;
}

#content .add-task button:hover {
    transform: scale(1.1);
}

/* List-Tasks */
#content #list-tasks {
    display: flex;
    justify-content: center;

    width: 120%;
    min-height: 220px;
}

#content #list-tasks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    list-style: none;
    padding: 10px;
    width: 100%;
}

#content #list-tasks ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;

    width: 100%;
    padding: 13px;
}

#content #list-tasks ul li p {
    font-weight: 600;
    color: #d9e8fc;
    width: 45%;
}

#content #list-tasks ul li span {
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 600;
    cursor: pointer;
    transition: all 500ms;
}

#content #list-tasks ul li span:hover {
    transform: scale(1.4);
    opacity: 0.5;
}

#content #list-tasks ul li #check {
    color: rgb(0, 13, 191);
}

#content #list-tasks ul li #delete {
    color: red;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-basis: 5%;

    width: 100%;
}

footer h4 {
    font-size: 15px;
    opacity: 0.4;
    color: #c3c3c3;
}

footer img {
    width: 30px;
    margin-left: 25px;
    color: black;
}


/* Dark Theme */

body.theme-dark {
    background-image: url(./ToDoBG2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container.theme-dark {
    background-color: rgba(7, 7, 7, 0.4);
}

header #toggle-wrap .toggle.theme-dark {
    background-color: aliceblue;
    box-shadow: 0px 2px 50px rgba(95, 95, 95, 0.1) inset, 
                0px 2px 8px rgba(101, 101, 101, 0.1) inset,
                0px 0px 4px rgb(85, 85, 85) inset;
}

header #toggle-wrap .toggle span.theme-dark {
    transform: translateX(35px);
}

header .date #day-num.theme-dark {
    color: rgb(176, 192, 255);
}

header .date #wrap-date .month.theme-dark {
    color: rgb(208, 216, 255);
}

header .date #wrap-date .year.theme-dark {
    color: rgb(218, 225, 255);
}

#content .title h1.theme-dark {
    background: rgb(0,175,224);
    background: linear-gradient(170deg, rgb(138, 230, 255) 35%, rgba(14, 182, 253, 0.766) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#content .add-task input[type="text"].theme-dark {
    border-color: rgb(0,149,191);
    background-color: rgba(0, 0, 0, 0.2);
}

#content .add-task input[type="text"]::placeholder.theme-dark {
    color: rgb(200, 229, 255);
}

#content .add-task button.theme-dark {
    color: white;
    background: linear-gradient(90deg, rgba(0,149,191,1) 29%, rgba(0,94,133,0.765625) 99%);
}

#content .add-task button:hover.theme-dark {
    background: linear-gradient(90deg, rgba(0,149,191,1) 29%, rgba(0,149,191,1) 99%);
}

#content #list-tasks ul li p.theme-dark {
    font-weight: 600;
    color: #daeaff;
}

footer img.theme-dark {
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0px 0px 7px white;
}

/* Checked Task */

.line-through {
    opacity: 0.5;
    text-decoration: line-through;
}